{% extends 'hospital/homebase.html' %}
<!--
Developed By : Sherida Providence
GitHub: https://github.com/Sherida101
YouTube : https://www.youtube.com/channel/UCobAZ9eizOU77HaEoLn0jHA
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead">Welcome to iCare, a hospital management web system</p>
  <hr class="my-4">
  <p>Gain access to more features after you have logged in or signed-up.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
